{% extends '::base_admin.html.twig' %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            {{ error.message }} <br />
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{% form_theme form _self %}

{% use 'bootstrap_3_layout.html.twig' %}

{% block stylesheetsPagePlugins %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/pick-a-color/build/1.2.3/css/pick-a-color-1.2.3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/persian-datepicker/dist/css/persian-datepicker-0.4.5.css') }}">
{% endblock stylesheetsPagePlugins %}

{% block javascriptsPageScripts %}
    <script src="{{ asset('bower_components/pick-a-color/build/1.1.6/js/tinycolor-0.9.14.min.js') }}"></script>
    <script src="{{ asset('bower_components/pick-a-color/build/1.2.3/js/pick-a-color-1.2.3.min.js') }}"></script>
    <script src="{{ asset('bower_components/persian-date/dist/0.1.8/persian-date-0.1.8.min.js') }}"></script>
    <script src="{{ asset('bower_components/persian-datepicker/dist/js/persian-datepicker-0.4.5.js') }}"></script>

    <script>
        $(function() {
            $('.pick-a-color').pickAColor();
            $('.color-menu.dropdown-menu').css({transform: 'translateX(100%)'});

            var convertUnixToDate = function (unix) {
                var date = new Date(unix);
                var year = date.getFullYear();
                var month = (parseInt(date.getMonth())+1) < 10 ? '0' + String(parseInt(date.getMonth())+1) : String(parseInt(date.getMonth())+1);
                var day = (date.getDate()) < 10 ? '0' + date.getDate() : date.getDate();
                return year + '/' + month + '/' + day;
            };

            $('#thirdPartyInsurance').pDatepicker({
                altField: '#car_thirdPartyInsurance',
                altFieldFormatter: convertUnixToDate,
                format: 'YYYY/MM/DD'
            });
            $('#thirdPartyInsurance').val(persianDate.unix({{ form.thirdPartyInsurance.vars.data.format('U') }}).format('YYYY/MM/DD'));

            $('#pullInsurance').pDatepicker({
                altField: '#car_pullInsurance',
                altFieldFormatter: convertUnixToDate,
                format: 'YYYY/MM/DD'
            });
            $('#pullInsurance').val(persianDate.unix({{ form.pullInsurance.vars.data.format('U') }}).format('YYYY/MM/DD'));

            $('#technicalDiagnosis').pDatepicker({
                altField: '#car_technicalDiagnosis',
                altFieldFormatter: convertUnixToDate,
                format: 'YYYY/MM/DD'
            });
            $('#technicalDiagnosis').val(persianDate.unix({{ form.technicalDiagnosis.vars.data.format('U') }}).format('YYYY/MM/DD'));

            $('#trafficPlan').pDatepicker({
                altField: '#car_trafficPlan',
                altFieldFormatter: convertUnixToDate,
                format: 'YYYY/MM/DD'
            });
            $('#trafficPlan').val(persianDate.unix({{ form.trafficPlan.vars.data.format('U') }}).format('YYYY/MM/DD'));
        });
    </script>
{% endblock javascriptsPageScripts %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMBS -->
            {% block breadcrumb %}
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="/">خانه</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="{{ path('fun_pro_admin_dashboard') }}">داشبورد</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="{{ url('fun_pro_admin_cget_driver') }}">رانندگان</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="{{ url('fun_pro_admin_get_driver', {'id': form.vars.data.driver.id}) }}">{{ form.vars.data.driver.name }}</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>افزودن ماشین</span>
                    </li>
                </ul>
            {% endblock breadcrumb %}
            <!-- END PAGE BREADCRUMBS -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    {{ form_start(form) }}

                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption font-green-haze">
                                    <i class="icon-settings font-green-haze"></i>
                                    <span class="caption-subject bold uppercase">افزودن ماشین</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-body">
                                    <div class="form-group form-md-line-input" {% if form.type.vars.errors|length %}has-error{% elseif (form.type.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">نوع ماشین</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.type, {'attr':{'placeholder':'نوع ماشین را وارد نمایید'}}) }}
                                            <div class="form-control-focus"></div>
                                            <span class="help-block">
                                                {% if form.type.vars.errors|length %}{{ form_errors(form.type) }}{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.plaque.vars.errors|length %}has-error{% elseif (form.plaque.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">شماره پلاک</label>
                                        <div class="col-md-2">
                                            {{ form_widget(form.plaque.cityNumber, {'attr': {'placeholder': 'کد شهر'}}) }}
                                            <div class="form-control-focus" style="text-align: left">11</div>
                                            <span class="help-block">کد شهری، مثلا کد مشهد: ۱۱ <br />
                                                {% if form.plaque.cityNumber.vars.errors|length %}{{ form_errors(form.plaque.cityNumber) }}{% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_widget(form.plaque.secondNumber, {'attr': {'placeholder': 'سه رقم'}}) }}
                                            <div class="form-control-focus" style="text-align: left">253</div>
                                            <span class="help-block">سه رقم دوم شماره پلاک <br />
                                                {% if form.plaque.secondNumber.vars.errors|length %}{{ form_errors(form.plaque.secondNumber) }}{% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-1">
                                            {{ form_widget(form.plaque.areaCode, {'attr': {'placeholder':'حرف الفبا'}}) }}
                                            <div class="form-control-focus" style="text-align: left">ج</div>
                                            <span class="help-block">کد نشانگر منطقه <br />
                                                {% if form.plaque.areaCode.vars.errors|length %}{{ form_errors(form.plaque.areaCode) }}{% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_widget(form.plaque.firstNumber, {'attr':{'placeholder':'دو رقم'}}) }}
                                            <div class="form-control-focus" style="text-align: left">45</div>
                                            <span class="help-block">دو رقم اول شماره پلاک
                                                {% if form.plaque.firstNumber.vars.errors|length %}{{ form_errors(form.plaque.firstNumber) }}{% endif %}
                                            </span>
                                        </div>
                                        <div class="col-md-2" style="direction: ltr">
                                            <span class="label label-info">ایران
                                                <span style="vertical-align: bottom">11</span>
                                            </span>
                                            &nbsp;
                                            <span style="font-size: medium" class="label label-info">۲۵۳ج۴۵</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.color.vars.errors|length %}has-error{% elseif (form.color.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">رنگ</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.color, {'attr':{'placeholder':'رنگ ماشین را انتخاب نمایید', 'class': 'pick-a-color form-control'}}) }}
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">کد رنگ ماشین<br />
                                                {% if form.color.vars.errors|length %}{{ form_errors(form.color) }}{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.thirdPartyInsurance.vars.errors|length %}has-error{% elseif (form.thirdPartyInsurance.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">بیمه شخص ثالث</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.thirdPartyInsurance, {'attr':{'placeholder':'2007-02-25', 'style': 'display: none;'}}) }}
                                            <input type="text" class="form-control" id="thirdPartyInsurance">
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.thirdPartyInsurance.vars.errors|length %}{{ form_errors(form.thirdPartyInsurance) }}{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.pullInsurance.vars.errors|length %}has-error{% elseif (form.pullInsurance.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">بیمه بدنه</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.pullInsurance, {'attr':{'placeholder':'2007-02-25', 'style': 'display: none;'}}) }}
                                            <input type="text" class="form-control" id="pullInsurance">
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.pullInsurance.vars.errors|length %}{{ form_errors(form.pullInsurance) }}{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.technicalDiagnosis.vars.errors|length %}has-error{% elseif (form.technicalDiagnosis.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">معاینه فنی</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.technicalDiagnosis, {'attr':{'placeholder':'2007-02-25', 'style': 'display: none;'}}) }}
                                            <input type="text" class="form-control" id="technicalDiagnosis">
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.technicalDiagnosis.vars.errors|length %}{{ form_errors(form.technicalDiagnosis) }}{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.trafficPlan.vars.errors|length %}has-error{% elseif (form.trafficPlan.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">طرح ترافیک</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.trafficPlan, {'attr':{'placeholder':'2007-02-25', 'style': 'display: none;'}}) }}
                                            <input type="text" class="form-control" id="trafficPlan">
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.trafficPlan.vars.errors|length %}{{ form_errors(form.trafficPlan) }}{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.born.vars.errors|length %}has-error{% elseif (form.born.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">تاریخ ساخت</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.born, {'attr':{'placeholder':'1385'}}) }}
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.born.vars.errors|length %}{{ form_errors(form.born) }}{% endif %}</span>
                                        </div>
                                    </div>
                            <div class="form-group form-md-line-input {% if form.bodyQuality.vars.errors|length %}has-error{% elseif (form.bodyQuality.vars.submitted) %}has-success{% endif %}">
                                <label class="col-md-2 control-label" for="form_control_1">توضیحات</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.bodyQuality) }}
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">{% if form.bodyQuality.vars.errors|length %}{{ form_errors(form.bodyQuality) }}{% endif %}</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if form.insideQuality.vars.errors|length %}has-error{% elseif (form.insideQuality.vars.submitted) %}has-success{% endif %}">
                                <label class="col-md-2 control-label" for="form_control_1">توضیحات</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.insideQuality) }}
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">{% if form.insideQuality.vars.errors|length %}{{ form_errors(form.insideQuality) }}{% endif %}</span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if form.ownership.vars.errors|length %}has-error{% elseif (form.ownership.vars.submitted) %}has-success{% endif %}">
                                <label class="col-md-2 control-label" for="form_control_1">توضیحات</label>
                                <div class="col-md-10">
                                    {{ form_widget(form.ownership) }}
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">{% if form.ownership.vars.errors|length %}{{ form_errors(form.ownership) }}{% endif %}</span>
                                </div>
                            </div>
                                    <div class="form-group form-md-line-input {% if form.description.vars.errors|length %}has-error{% elseif (form.description.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">توضیحات</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.description, {'attr': {'placeholder':'نظر کارشناس در مورد ماشین'}}) }}
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.description.vars.errors|length %}{{ form_errors(form.description) }}{% endif %}</span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input {% if form.imageFile.vars.errors|length %}has-error{% elseif (form.imageFile.vars.submitted) %}has-success{% endif %}">
                                        <label class="col-md-2 control-label" for="form_control_1">تصویر ماشین</label>
                                        <div class="col-md-10">
                                            {{ form_widget(form.imageFile) }}
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">{% if form.imageFile.vars.errors|length %}{{ form_errors(form.imageFile) }}{% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <br />
                                            <input type="submit" class="btn blue" value="ثبت ماشین">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->
                    </div>

                    {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
{% endblock content %}